@page "/users"
@rendermode InteractiveServer

@using HolidayManagement.Helpers

@inject Services.Interfaces.IModelService<User> userService
@inject Services.Interfaces.IModelService<UserData> userDataService
@inject Services.Interfaces.IModelService<UserInstitution> userInstitutionService
@inject Services.Interfaces.IModelService<Center> centerService
@inject Services.Interfaces.IModelService<Institution> institutionService
@inject Services.Interfaces.IModelService<Role> roleService

<h3>UsersTestPage</h3>

@if (_users == null)
{
    <span class="placeholder col-6"></span>
}
else
{
    @if (_users.Count == 0)
    {
        <div>No data found!</div>
        <button class="btn btn-outline-info" @onclick="CreateDummyUser">Create Dummy</button>
    }
    else
    {
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Username</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in _users)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Username</td>
                        <td>
                            <button @onclick="() => DeleteUser(item.Id)" class="btn btn-outline-danger">Delete</button>
                            <a href="/users/update/@item.Id" class="btn btn-outline-info">Edit</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Email</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Birth</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in _userDatas)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Email</td>
                        <td>@item.Phone</td>
                        <td>@item.Birth</td>
                        <td>
                            <button @onclick="() => DeleteUser(item.Id)" class="btn btn-outline-danger">Delete</button>
                            <a href="/users/update/@item.Id" class="btn btn-outline-info">Edit</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
}

@code {
    private List<Models.User> _users;
    private List<Models.UserData> _userDatas;
    protected override async Task OnInitializedAsync()
    {
        _users = await userService.GetAll() ?? new List<Models.User>();
        _userDatas = await userDataService.GetAll() ?? new List<Models.UserData>();
    }
    public async void CreateDummyUser()
    {
        Models.UserData ud = new Models.UserData()
        {
            Id = Guid.NewGuid(),
            Birth = new DateTime(),
            Children = 0,
            Email = "domnanob@gmail.com",
            Phone = "+36303627517"
        };
        Models.User user = new Models.User()
        {
            Id = Guid.NewGuid(),
            Username = "Dummy",
            Password = new PasswordManager().Hash("Password"),
            DataId = ud.Id

        };
        Models.Center center = new Models.Center()
        {
            Id = Guid.NewGuid(),
            Name = "Vasvármegyei Szakképzési Centrum"
        };
        Models.Institution institution = new Models.Institution()
        {
            Id = Guid.NewGuid(),
            Name = "Nádasdy",
            CenterID = center.Id
        };
        Models.UserInstitution userInstitution = new Models.UserInstitution()
        {
            Id = Guid.NewGuid(),
            UserId = user.Id,
            InstitutionId = institution.Id,
            RoleId = await roleService.GetAll().ContinueWith(t => t.Result.FirstOrDefault(x => x.Name == "teacher").Id)
        };
        await userDataService.Create(ud);
        await userService.Create(user);
        await centerService.Create(center);
        await institutionService.Create(institution);

        StateHasChanged();
        await userInstitutionService.Create(userInstitution);

        StateHasChanged();
        _users = await userService.GetAll();
    }

    public async void DeleteUser(Guid id)
    {
        await userDataService.Delete(_users.Single(x => x.Id == id).DataId);
        //await userService.Delete(id); //cascade miatt nem kell

        _users = await userService.GetAll();
        StateHasChanged();
    }

}
